# Heavy Libraries (Least frequent changes)
torch --extra-index-url https://download.pytorch.org/whl/cu124
faster-whisper
ctranslate2>=4.4.0

# Framework & IO
fastapi
uvicorn
python-multipart
websockets
requests
python-dotenv

# Utilities & Testing
loguru
pytest
pytest-asyncio
