# Heavy Libraries (Least frequent changes)
--extra-index-url https://download.pytorch.org/whl/cpu
torch
nvidia-cublas-cu12
nvidia-cudnn-cu12
faster-whisper
ctranslate2>=4.4.0

# Framework & IO
fastapi
uvicorn
python-multipart
websockets
# requests is kept for OIDC stability
requests

# Authentication & Security
python-jose[cryptography]
cachetools

# Utilities & Testing
loguru
uvloop
orjson
pytest
pytest-asyncio
