{
  "OIDC_ISSUER": "https://<url>/application/o/your-app/",
  "_OIDC_ISSUER_EXAMPLES": {
    "zitadel": "https://your-zitadel-instance.zitadel.cloud/application/o/your-app/",
    "authentik": "https://auth.example.com/application/o/your-app/"
  },
  "OIDC_CLIENT_ID": "your-client-id",
  "OIDC_REDIRECT_URI": "http://localhost:4242/callback"
}
